<div class="about" style="background-color: #000000">
    <h1 class="heading_about">{{title}}</h1>
    <img class="about_image" src="https://static.wixstatic.com/media/01f2f9_8882e21d4cdf4b20a91d0c927b9fe3ce~mv2.jpg/v1/fill/w_497,h_550,al_c,q_80,usm_0.66_1.00_0.01/IMG_20200731_125506_edited_edited.webp" alt="Ujjwal Gaba Image">
    <section class="about_description">
        <p>
            Welcome to my e-Portfolio. My name is Ujjwal Gaba
            and I am a full-time student at the Georgian College
            majoring in Computer Programming. I chose to pursue
            Computer Programming because I like to explore more
            and do adventurous tasks.
            <br>
            What better than Computers to do so?
        </p>
        <p>
            I value simple content structure, clean design patterns,
            and thoughtful interactions. I like to code things from
            scratch and enjoy bringing ideas to life in the browser.
            I genuinely care about people and love helping fellow
            designers work on their craft. Codding is an incredible
            form of expression, and I want to demonstrate its importance
            and effectiveness in my future. The development section is
            really important to me because I thereby constantly improve
            my skills and stay up-to-date with new methods and technology.
        </p>
        <p>
            By browsing this portfolio, you will find more information
            about my experience, career goals, and plans for the future.
            You will also be able to view assignments and projects I’ve
            completed during my studies at GC. Thank you for your
            interest, and please reach out to me if you have any questions.
        </p>
    </section>
</div>