<div class="project" style="background-color: #000000">
    <h1 class="heading_project">{{ title }}</h1>

    <div class="project_card" >
        <div class="project_image">
            <img class="project_image" src="https://i.ibb.co/P92ZtC6/Java1.png" alt="Java1">
        </div>
        <div class="project_description">
            <h4 style="font-style: oblique">Car Dealer Management Application</h4>
            <p class="project_details">
                This application can be used by car dealers to
                keep the record of their inventory. They can sort the data
                by New, Old, Sold or Unsold Vehicles.
            </p>
                <a href="https://github.com/UjjwalGaba/car_dealer_project" class="btn btn-info">
                    GitHub Code
                </a>
        </div>
    </div>


    <div class="project_card">
        <div class="project_image" >
            <img class="project_image" src="https://i.ibb.co/C9f4h5M/ASP2.png" alt="ASP.NET">
        </div>
        <div class="project_description">
            <h4 style="font-style: oblique">Online Study Application</h4>
            <p class="project_details">
                This application can be used by schools and students. School can create, read, update and delete the study material
                while students can only read the material.
            </p>
            <a href="https://github.com/UjjwalGaba/OnlineStudyApplication" class="btn btn-info">
                GitHub Code
            </a>
        </div>
    </div>


    <div class="project_card" >
        <div class="project_image">
            <img class="project_image" src="https://i.ibb.co/cJjX728/C-1.png" alt="C#Project">
        </div>
        <div class="project_description">
            <h4 style="font-style: oblique">Hospital Management Application</h4>
            <p class="project_details">
                This application can be used by Hospitals to keep the record of Patients, Doctors and the Diagnosis given to
                patient. This application supports the CRUD functionality.
            </p>
            <a href="https://github.com/UjjwalGaba/HospitalManagement" class="btn btn-info">
                GitHub Code
            </a>
        </div>
    </div>

</div>