<div class="contact" style="background-color: #000000">
    <h1 class="heading_contact">{{ title }}</h1>

    <div class="form_elements">
        <form class="form" method="post" name="forms">

            <div class="form_group">
                <label for="Name" class="form_label">Name: </label>
                <div class="form_input">
                    <input type="text" id="Name" name="Name" required>
                </div>
            </div>

            <div class="form_group">
                <label for="Email" class="form_label">Email: </label>
                <div class="form_input">
                    <input type="email" id="Email" name="Email" required>
                </div>
            </div>

            <div class="form_group">
                <label for="Message" class="form_label">Your Message: </label>
                <div class="form_input">
                    <textarea id="Message" name="Message" maxlength="2500" required></textarea>
                </div>
            </div>

            <div class="form_group_btn">
                <button type="submit" id="contact_btn" class="btn btn-primary">Send Message</button>
            </div>

        </form>
    </div>
</div>